
    <!-- _layouts/partials/menu-html

      ## used by

      From top to down this partial renders the following elementes

      1. Displays Logo+ClaimText to be used as Homebutton
      2. A Searchbox
      3. SideBarNavigation-Tree wiht flags for already visited links
      4. Titel for ShortCuts and the list of ShortCut-Links
      5. Buttons for Language Switching
      6. Footer Text


      Many parameters can be set in the config toml. Find the details in the code below.
    -->

    <script>
      /* just setting some varaibles */
      var index_url={{ "index.json" | relLangURL }};
      var root_url="/";
      var baseUri=root_url.replace(/\/$/, '');
    </script>


    <!-- Visited Links
      showVisitedLinks is set in the config.toml as:

        [params]
           showVisitedLinks = true

      on = display visited menu entries.

      You might toggle them off again wiht a click on the "cancel history" button at the end of the treeview.
      Display or non-display of the check-icon is handled with different classes for shwoing and hiding.
    -->
    <nav id="sidebar" class="{{ if $.Site.Params.showVisitedLinks }}showVisitedLinks{{ end }}">

      {{- $currentNode := . }}

      {{- $showvisitedlinks := .Site.Params.showVisitedLinks }}

      <div id="header-wrapper">
        <div id="header">
          <!--
            Displays the SVG generated Logo and a TextClaim above the SearchBox and Navi-Sidebar
          -->
          {{ partial "logo.html" . }}
        </div>

        <!-- SearchBox:
          Displays the Lunr Searchbox between Logo and Navi-Sidbar
          The Searchbox can be deactivated in the config toml with

            [params]
                disableSearch = false
        -->
        {{- if not .Site.Params.disableSearch }}
          {{ partial "search.html" . }}
        {{- end }}
      </div>

      <!-- Homepage configuration
      Whether or not clicking on the Logo will navigate back to the language specific homepage:

      Config.toml configuration in this regard is two fold:

      1. whether or not the HomeLink is activated at all

        [params]
            disableLandingPageButton = false # toggles the link on/off

      2. Setting the URL for the specific language

        [Languages]
        [Languages.en]
          landingPageURL = "/"
      -->
      {{- if not .Site.Params.disableLandingPageButton }}
      <div id="homelinks">
        <ul>
          <li>
              <a class="padding" href="{{ .Site.Params.landingPageURL | default "/" | relLangURL }}">{{ .Site.Params.landingPageName | default `<i class="fas fa-home"></i> Home` | safeHTML }}</a>
          </li>
        </ul>
      </div>
      {{- end }}

      <!-- MenuTree Generation
        This function is called above.
      -->
      <div class="highlightable">
        <ul class="topics">
          {{- $defaultOrdersectionsby := .Site.Params.ordersectionsby | default "weight" }}
          {{- $currentOrdersectionsby := .Site.Home.Params.ordersectionsby | default $defaultOrdersectionsby }}

          {{- $defaultAlwaysopen := .Site.Params.alwaysopen | default false }}

          {{- if eq $currentOrdersectionsby "title" }}
            {{- range .Site.Home.Sections.ByTitle }}
              <!-- Calling the "section-tree-nav" templates that is defined below:
                mind the dict-ionary that sends the following parameter-pairs to the called template:
                - sect = . (current section)
                - currentnode
                - showvisitedlinks: wether already visited links shall be flagged
                - alwaysopen: wether the tree is unfolded (true) or collapsed (falss)
              -->
              {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks "alwaysopen" $defaultAlwaysopen }}
            {{- end }}
          {{- else }}
            {{- range .Site.Home.Sections.ByWeight }}
              <!-- section-tree-nav rendering is defined below -->
              {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks "alwaysopen" $defaultAlwaysopen }}
            {{- end }}
          {{- end }}
        </ul>

        <!-- ShortCutTitle
          ShortCutTitle is the Title above the ShortCut-Icons for GitHub, Showcases, Credits, Tags, etc.
          Default TitleText = "More" (as being looked up from the i18n/en.toml)
        -->
        {{- $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle }}

        <!-- Rendering the FontAwesome Shortcut Icons with Links to often used exernal and internal pages -->
        {{- with .Site.Menus.shortcuts }}
          <div id="shortcuts">
           <div class="nav-title">
             {{ if not $disableShortcutsTitle }}
                <!-- getting the title from the i18n/en.toml which is currently defined as "More" -->
                {{ T "Shortcuts-Title" }}
             {{ end }}
            </div>
            <ul>
              {{- range sort . "Weight" }}
               <li>{{ .Pre }}<a class="padding" href="{{ .URL | relLangURL }}">{{ safeHTML .Name }}</a>{{ .Post }}</li>
              {{- end }}
           </ul>
          </div>
        {{- end }}

        <!-- Rendering the Buttons for switching the language - currently not used -->
        {{- if or .Site.IsMultiLingual $showvisitedlinks }}
        <div id="prefooter">
          <hr/>
          <ul>
            {{- if and .Site.IsMultiLingual (not .Site.Params.DisableLanguageSwitchingButton) }}
            <li>
              <a class="padding">
                <i class="fas fa-language fa-fw"></i>
                <div class="select-style">
                  <select id="select-language" onchange="location = baseUri + this.value;">
                    {{- $siteLanguages := .Site.Languages }}
                    {{- $pageLang := .Page.Lang }}
                    {{- range .Page.AllTranslations }}
                      {{- $translation := . }}
                      {{- range $siteLanguages }}
                        {{- if eq $translation.Lang .Lang }}
                          {{- if eq $pageLang .Lang }}
                    <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" selected>{{ .LanguageName }}</option>
                          {{- else }}
                    <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}">{{ .LanguageName }}</option>
                          {{- end }}
                        {{- end }}
                      {{- end }}
                    {{- end }}
                  </select>
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
                    <g>
                      <g id="arrow-drop-down">
                        <polygon points="0,63.75 127.5,191.25 255,63.75" />
                      </g>
                    </g>
                  </svg>
                </div>
              </a>
            </li>
            {{- end }}

            {{- if $showvisitedlinks }}
            <li><a class="padding" href="#" data-clear-history-toggle=""><i class="fas fa-history fa-fw"></i> {{ T "Clear-History" }}</a></li>
            {{- end }}
          </ul>
        </div>
        {{- end }}

        <!-- SideBar-Navigation-Menu Footer -->
        <div id="footer">

          <!--  Just displaying a single line with some Text, Links and FontAwesome icons -->
          {{- partial "menu-footer.html" . }}
        </div>
      </div>
    </nav>

    <!--vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
    vv Section-tree-navigation bar definition                                                                                 vv
    vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
    -->

    {{- define "section-tree-nav" }}
      <!-- taken from input parameter which is taken again from config.toml:
           whether visited linkes will be flagged or not -->
      {{- $showvisitedlinks := .showvisitedlinks }}

      <!-- input parameter required for recursion -->
      {{- $currentNode := .currentnode }}

      <!-- input parameter -->
      {{- $currentFileRelPermalink := .currentnode.RelPermalink }}

      <!-- alwaysopen explodes all the tree and displays all submenues in full lenght -->
      {{- $alwaysopen := .alwaysopen }}

      <!-- the .sect is an input parameter and contain the actual section -->
      {{- with .sect }}

        <!-- The index()-function Looks up the index(es) or key(s) of the data structure passed into it.

        -->
        {{- $relearnIsHiddenFrom := index ($currentNode.Scratch.Get "relearnIsHiddenFrom") .RelPermalink }}

        {{- $hidden := and $relearnIsHiddenFrom (not $.showhidden) (not (.IsAncestor $currentNode)) }}

        {{- if $hidden }}
          <!-- when the node is hidden: just do not render it -->
        {{- else if .IsSection }}
          {{- safeHTML .Params.head }}
          {{- $defaultOrdersectionsby := .Site.Params.ordersectionsby | default "weight" }}
          {{- $currentOrdersectionsby := .Params.ordersectionsby | default $defaultOrdersectionsby }}
          {{- $currentAlwaysopen := .Params.alwaysopen | default $alwaysopen }}
          <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item{{if eq .RelPermalink $currentFileRelPermalink}} active{{end}}{{if .IsAncestor $currentNode }} parent{{end}}{{if $currentAlwaysopen}} alwaysopen{{end}}"><a href="{{.RelPermalink}}">
              {{- partial "menu-pre.html" . }}{{ or .Params.menuTitle .LinkTitle .Title }}{{ partial "menu-post.html" . }}
              {{- if $showvisitedlinks }}<i class="fas fa-check read-icon"></i>{{ end }}</a><ul>
              {{- $pages := .Pages }}
              {{- if .Page.IsHome }}
                {{- $pages = .Sections }}
              {{- else if .Page.Sections}}
                {{- $pages = (.Pages | union .Sections) }}
              {{- end }}
              {{- $defaultAlwaysopen := .Site.Params.alwaysopen | default true }}

              <!-- recursive call of this nav-rendering code template -->
              {{- if eq $currentOrdersectionsby "title" }}
                {{- range $pages.ByTitle }}
                  {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks "alwaysopen" $defaultAlwaysopen }}
                {{- end }}
              {{- else }}
                {{- range $pages.ByWeight }}
                {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks "alwaysopen" $defaultAlwaysopen }}
                {{- end }}
              {{- end }}</ul></li>
        {{- else }}
          <!-- not hidden nor a section -->
          <li
            data-nav-id="{{.RelPermalink}}"
            title="{{.Title}}"
            class="dd-item{{if eq .RelPermalink $currentFileRelPermalink}} active{{end}}"
          >
            <a href="{{.RelPermalink}}">
              {{- partial "menu-pre.html" . }}{{ or .Params.menuTitle .LinkTitle .Title }}{{ partial "menu-post.html" . }}
              {{- if $showvisitedlinks }}<i class="fas fa-check read-icon"></i>{{ end }}
            </a>
          </li>
        {{- end }}
      {{- end }}
    {{- end }}